{% extends 'chatbot/base.html' %}
{% load static %}

{% block title %}
{{title}}
{% endblock title %}

{% block content %}
<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="row">
            <div class="col-sm-6">

                    <br>
                    <div id="Recording" class="button rec-effect-1">
                        <i class="fa fa-microphone fa-2x"></i>

                    </div>
                    <span id="timer" style="font-size: 20px; top:8px; position: relative;">00:00</span>
                <p style="font-size: 14px; margin-top: 10px">Эскертүү: Үн жаздыруунун мөөнөтү 1 мүнөттөн ашпоого тийиш</p>

            </div>

            </div>

            <div class="row">
            	<p id="audio_info" style="font-size: 18px; display: none;  ">Аудиофайл:</p>
                <audio controls id="audioPlayer" class="hidden" style="width: 400px; margin-top: 5px">
                <source src="" type="audio/wav">
                Браузериңиз аудио элементти колдобойт
                </audio>
            <div class="col-sm-6" style="margin-top: 20px; width: 250px">
                <div class="spinner-block hidden" id="loading2">
                  <div class="spinner spinner-1"></div>
                </div>
            </div>
                </div>
                <p id="audio_text" style="font-size: 18px; display: none; margin-top: 5px">Текст:</p>
            <div class="col-sm-12" style="margin-top: 5px; font-size: 4rem">
                <p> <span id="myText"> </span></p>
                </div>


        </div>
            </div>
</section>
<script>
if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
    let audioChunks = [];
    let mediaRecorder;
    let timerInterval; // to store the timer interval reference
    let elapsedTime = 0; // to track the elapsed time
    const recordingDuration = 1 * 60 * 1000; // 1 minute in milliseconds

    const recordingButton = document.getElementById('Recording');
    const audioPlayer = document.getElementById('audioPlayer');
    const loading2 = document.getElementById("loading2");
    const audio_info = document.getElementById("audio_info");
    const audio_text = document.getElementById("audio_text");
    const my_text = document.getElementById("myText");
    const timer = document.getElementById("timer"); // reference to the timer element

    recordingButton.addEventListener('click', () => {
        if (mediaRecorder && mediaRecorder.state === 'recording') {
            // Stop recording and send the audio to Django
            stopRecording();
        } else {
            // Start recording
            startRecording();
        }
    });

    function startRecording() {
        recordingButton.classList.add('active');
        navigator.mediaDevices.getUserMedia({ audio: true })
            .then(stream => {
                mediaRecorder = new MediaRecorder(stream);

                mediaRecorder.ondataavailable = event => {
                    if (event.data.size > 0) {
                        audioChunks.push(event.data);
                    }
                };

                mediaRecorder.onstop = () => {
                    // Convert audio chunks to a Blob and create a FormData
                    my_text.style.display = "none";
                    loading2.style.display = "block";
                    audioPlayer.style.display = "none";
                    audio_info.style.display = "none";
          		audio_text.style.display = "none";
                    const audioBlob = new Blob(audioChunks, { type: 'audio/wav' });
                    const formData = new FormData();
                    formData.append('audio', audioBlob, 'audio.wav');

                    // Send audio to Django view using Fetch API
                    fetch('/speech_to_text/', {
                        method: 'POST',
                        body: formData,
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            const audioUrl = data.audio_url;
                            audioPlayer.src = audioUrl;
                            audioPlayer.type = "audio/wav";
                            loading2.style.display = "none";
                            audioPlayer.style.display = "block";
                            audio_info.style.display = "block";
                            audio_text.style.display = "block";
                            var text = data.text;
                            document.getElementById("myText").innerHTML = text;
                            my_text.style.display = "block";
                            document.getElementById("audio").innerHTML = audioUrl;
                        }
                    })
                    .catch(error => console.error('Error:', error));

                    // Clear the recorded audio chunks
                    audioChunks = [];
                    // Remove the 'active' class to stop the animation
                    recordingButton.classList.remove('active');
                };

                // Start recording
                mediaRecorder.start();

                // Start the timer
                startTime = Date.now();
                timerInterval = setInterval(updateTimer, 1000); // update every second
            })
            .catch(error => console.error('Error:', error));
    }

    function stopRecording() {
        mediaRecorder.stop();

        // Stop the timer
        clearInterval(timerInterval);
        timer.textContent = "00:00";
        // Remove the 'active' class to stop the animation
        recordingButton.classList.remove('active');
    }

    function updateTimer() {
        // Calculate elapsed time and update the timer element
        elapsedTime = Date.now() - startTime;
        const minutes = Math.floor(elapsedTime / (60 * 1000));
        const seconds = Math.floor((elapsedTime % (60 * 1000)) / 1000);

        // Display the time in MM:SS format
        const formattedTime = `${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;
        timer.textContent = formattedTime;

        // Check if the recording duration is reached and stop recording
        if (elapsedTime >= recordingDuration) {
            stopRecording();
        }
    }
} else {
    console.error('Web Audio API is not supported in this browser.');
}

</script>
{% endblock %}
