{% extends 'chatbot/base.html' %}
{% load static %}

{% block title %}
{{title}}
{% endblock title %}

{% block content %}
<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="row">
            <div class="col" >
            <br><br>
            	<div class="row" style="margin-left: 9%; margin-right: 9%;">
           	 <div class="col-sm-2" style="margin-top: 25px;>
           	 <a class="logo2" id="logo2"><img style="width: 120px; height:120px; display: block; margin-left: auto; margin-right: auto;" src="{% static 'chatbot/img/gerb.png' %}"></a>
           	 </div>
           	 <div class="col-sm-8" style="color: darkblue; font-size: 30px; font-family: Georgia, serif; font-weight: bold; text-align: center; padding-left: 20px; padding-right: 20px; padding-top: 0" >
           	 <p>Кыргыз Республикасынын Президентине караштуу Мамлекеттик тил жана тил саясаты боюнча улуттук комиссия</p>
           	 </div>
           	 <div class="col-sm-2" style="margin-top: 25px;>
           	 <a class="logo2" id="logo3"><img style="width: 120px; height:120px; display: block; margin-left: auto; margin-right: auto;" src="{% static 'chatbot/img/til.png' %}"></a>
           	 </div>
           	 </div>

   <!--               <img src="{% static 'analyzer/img/mamtilbanner.png' %}" alt="til" class="img-fluid mx-auto d-block">-->
<!--                <h2 style="color: black">Башкы бетке Кош келиңиз!</h2>-->
		<div style="margin-left: 10%; margin-right: 10%; margin-top: 30px; margin-bottom: 50px; text-align: justify; font-size:18px">
		<a><img style="width: 100%; height:5%; border-radius: 2%;" src="{% static 'chatbot/img/speech.jpg' %}"></a>
		<br><br>
		<p>Кыргыз Республикасында 2021-2025-жылдары мамлекеттик тилди өнүктүрүүнүн жана тил саясатын өркүндөтүүнүн улуттук программасы алкагында Кыргыз Республикасынын Президентине караштуу Мамлекеттик тил жана тил саясаты боюнча улуттук комиссиясынын “Жасалма интеллект негизинде кыргыз тилин табыгий түрдө иштетүүчү программалык аппараттар” долбоорунун алкагында кыргыз тилиндеги санарип тексттерди үнгө айландыруу жана үндөн текстке айландыруу иштери аткарылды. Бул программалык аппараттар учурда жалпы коомчулуктун колдонуусуна ачылып, ушул баракча аркылуу 5000 символго чейин текстти үн менен коштоп, бир минутага чейин үндү болсо санарип текстке айландыруу мүмкүнчүлүгү каралган.
Бул программалык аппараттарды аркандай тармактарда колдонуу иштери уланып жатат.</p>
		<p>Ошондой эле ушул мүмкүнчүлүктөрдү колдонуу боюнча сизде да сунуш болсо, Мамлекеттик тил жана тил саясаты боюнча улуттук комиссиясы менен байланышыңыздар.</p>
		<p>Программалык аппараттарды колдонуу үчүн негизги менюдан тиешелүү бөлүмдү тандаңыз</p>
		</div>
            </div>


        </div>
    </div>
    </div>
</section>

{% endblock content %}