{% extends 'chatbot/base.html' %}
{% load static %}

{% block title %}
{{title}}
{% endblock title %}

{% block content %}
<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="row" style="margin-left: 50px;">
            <div class="col-sm-4">

                    <br>
                <div id="Recording" class="button rec-effect-1">
                        <i class="fa fa-microphone fa-2x"></i>

                    </div>
<!--                    <button id="startRecording2" class="btn" style="margin: 3px; color: black;-->
<!--    background-color: #bfbfbf;-->
<!--    border-color: #666666; border-width: 2px">Жаздырууну баштоо</button>-->
<!--                        <button id="stopRecording2" class="btn btn-primary " style="margin: 3px; color: black;-->
<!--    background-color: #bfbfbf;-->
<!--    border-color: #666666; border-width: 2px" disabled>Токтотуу</button>-->
                <span id="timer" style="font-size: 20px;top:8px; position: relative; padding-left: 15px;">00:00</span>
                
                <p style="font-size: 14px; margin: 0;padding-top: 10px">Эскертүү: </p>
                <p style="font-size: 14px;">Үн жаздыруунун мөөнөтү 1 мүнөттөн ашпоого тийиш</p>
                <p style="font-size: 18px;">Үн тандаңыз: </p>
                <div class="radio-container">
                <label class="radio">
                    <input type="radio" id="man" value="man" name="choose">
                    <span>Нурбек</span>
                </label>
                <label class="radio">
                    <input type="radio" checked="checked" name="choose" id="woman" value="woman" required>
                    <span>Нурай</span>
                </label>
            </div>
                
<!--                        <button class="btn btn-primary " id="sendAudio" style="margin: 3px" disabled>Жөнөтүү</button>-->

            </div>
            
                
                <div class="col-sm-4" style="margin-top: 20px;">
                    <div class="spinner-block hidden" id="loading2">
                        <div class="spinner spinner-1"></div>
                      </div>
            	<p id="audio_info" style="font-size: 18px; display: none;  ">Жаздырылган аудио:</p>
                <audio controls id="audioPlayer1" class="hidden" style="width: 400px; margin-top: 5px">
                <source src="" type="audio/wav">
                Браузериңиз аудио элементти колдобойт
                </audio>
                </div>
                <div class="col-sm-4" style="margin-top: 20px;">
                <p id="audio_info2" style="font-size: 18px; display: none;">Жооп:</p>
                <audio controls id="audioPlayer2" class="hidden" style="width: 400px; margin-top: 5px">
                <source src="" type="audio/wav">
                Браузериңиз аудио элементти колдобойт
                </audio>
                </div>
            </div>


            
            
                </div>
                <p id="audio_text" style="font-size: 18px; display: none; margin-top: 5px">Текст:</p>
            <div class="col-sm-12" style="margin-top: 5px; font-size: 4rem">
                <p> <span id="myText"> </span></p>
                </div>


        </div>
            </div>
</section>
<script>
document.addEventListener('DOMContentLoaded', () => {
     const players = Array.from(document.querySelectorAll('audio')).map(player => {
            return new Plyr(player, {
                controls: ['play', 'progress', 'current-time', 'mute', 'settings', 'speed'],
          speed: {
        selected: 1, // Выбранная скорость по умолчанию (1x)
        options: [0.5, 1, 1.5, 2] // Варианты доступных скоростей
      }
            });
        });
     players.forEach(player => {
                player.elements.container.style.display = 'none';
            });

if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
    let audioChunks = [];
    let mediaRecorder;
    let timerInterval; // to store the timer interval reference
    let elapsedTime = 0; // to track the elapsed time
    const recordingDuration = 1 * 60 * 1000; // 1 minute in milliseconds

    const recordingButton = document.getElementById('Recording');
    let audioPlayer_input = document.getElementById('audioPlayer1');
    let audioPlayer_output = document.getElementById('audioPlayer2');
    const loading2 = document.getElementById("loading2");
    const audio_info = document.getElementById("audio_info");
    const audio_info2 = document.getElementById("audio_info2");
    const audio_text = document.getElementById("audio_text");
    const my_text = document.getElementById("myText");
    const timer = document.getElementById("timer"); // reference to the timer element
    const man = document.getElementById("man");
const woman = document.getElementById("woman");
    const plyrAudioContainer = document.querySelector('.plyr--audio');
    plyrAudioContainer.style.display = 'none';

let choose = 'woman';
    man.addEventListener("change", updateResult);
    woman.addEventListener("change", updateResult)
    function updateResult() {
	  if (man.checked) {
	    choose = "man";
	  } else if (woman.checked) {
	    choose = "woman";
	  }
	}

    recordingButton.addEventListener('click', () => {
        if (mediaRecorder && mediaRecorder.state === 'recording') {
            // Stop recording and send the audio to Django
            stopRecording();
        } else {
            // Start recording
            startRecording();
        }
    });

    function startRecording() {
        recordingButton.classList.add('active');
        navigator.mediaDevices.getUserMedia({ audio: true })
            .then(stream => {
                mediaRecorder = new MediaRecorder(stream);

                mediaRecorder.ondataavailable = event => {
                    if (event.data.size > 0) {
                        audioChunks.push(event.data);
                    }
                };

                mediaRecorder.onstop = () => {
                    // Convert audio chunks to a Blob and create a FormData
                    audioPlayer_input.style.display = "none";
                	audioPlayer_output.style.display = "none";
                    loading2.style.display = "block";
                plyrAudioContainer.style.display = 'none';
                players.forEach(player => {
                player.elements.container.style.display = 'none';
            	});
                audio_info.style.display = "none";
                audio_info2.style.display = "none";
                //audio_info3.style.display = "none";
          	audio_text.style.display = "none";
          	my_text.style.display = "none";
          		
                    const audioBlob = new Blob(audioChunks, { type: 'audio/wav' });
                    const formData = new FormData();
                    formData.append('audio2', audioBlob, 'audio.wav');
		    formData.append('choose', choose);
                    // Send audio to Django view using Fetch API
                    fetch('/speech/', {
                        method: 'POST',
                        body: formData,
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            const audio_url_input = data.audio_url_input;
                    		const audio_url_output = data.audio_url_output;
                    		audioPlayer_input.src = audio_url_input;
                    		audioPlayer_output.src = audio_url_output;
                            audioPlayer_input.type="audio/wav"
                        audioPlayer_input.style.display = "block";
                        loading2.style.display = "none";
		            audioPlayer_output.style.display = "block";
		            audioPlayer_output.type="audio/mpeg"
		                //audioPlayer_output2.style.display = "block";
		            //audioPlayer_output2.type="audio/mpeg"
		            plyrAudioContainer.style.display = 'block';
		            players.forEach(player => {
		        	player.elements.container.style.display = 'block';
		    		});

			audio_info.style.display = "block";
                    audio_info2.style.display = "block";
                    
                        }
                    })
                    .catch(error => console.error('Error:', error));

                    // Clear the recorded audio chunks
                    audioChunks = [];
                    // Remove the 'active' class to stop the animation
                    recordingButton.classList.remove('active');
                };

                // Start recording
                mediaRecorder.start();

                // Start the timer
                startTime = Date.now();
                timerInterval = setInterval(updateTimer, 1000); // update every second
            })
            .catch(error => console.error('Error:', error));
    }

    function stopRecording() {
        mediaRecorder.stop();

        // Stop the timer
        clearInterval(timerInterval);
        timer.textContent = "00:00";
        // Remove the 'active' class to stop the animation
        recordingButton.classList.remove('active');
    }

    function updateTimer() {
        // Calculate elapsed time and update the timer element
        elapsedTime = Date.now() - startTime;
        const minutes = Math.floor(elapsedTime / (60 * 1000));
        const seconds = Math.floor((elapsedTime % (60 * 1000)) / 1000);

        // Display the time in MM:SS format
        const formattedTime = `${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;
        timer.textContent = formattedTime;

        // Check if the recording duration is reached and stop recording
        if (elapsedTime >= recordingDuration) {
            stopRecording();
        }
    }
} else {
    console.error('Web Audio API is not supported in this browser.');
}
});
</script>
{% endblock %}
