{% extends 'chatbot/base.html' %}
{% load static %}

{% block title %}
{{title}}
{% endblock title %}

{% block content %}


<div class="chat-container">
  <div class="card flex-grow-1">

{#      <div class="card-header bg-light text-black fixed-top">#}
{#          <b style="font-size: 20px">AI Ulut Soft</b>#}
{#{% if user.is_authenticated %}#}
{#     <span >Кош келиңиз, {{user.username}}</span>#}
{#    {% endif %}#}


{#            {% if messages %}#}
{#          <ul class="messages">#}
{#            {% for message in messages %}#}
{#              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>#}
{#            {% endfor %}#}
{#          </ul>#}
{#        {% endif %}#}



    <div class="card-body messages-box">
      
      <ul id="messagesListID" class=" messages-list">

        <li class="message received">
          <div class="message-text">
            <div class="message-sender">
              <b>AI Mamtil</b>
            </div>
            <div class="message-content">
              Салам, меним атым AI Mamtil. Каалаган нерсени сураңыз
            </div>
          </div>
        </li>

        {% for chat in chats %}
          {% if chat.user == request.user %}

            <li class="message sent">
          <div class="message-text">
            <div class="message-sender" >
              <b>{% load tz %}{% timezone "Asia/Bishkek" %}Сиз {{ chat.created_at|date:_("Y-m-d H:i:s") }}{% endtimezone %}</b>

            </div>
            <div class="message-content">
              {{chat.message}}
            </div>
          </div>
        </li>

        <li class="message received">
          <div class="message-text">
            <div class="message-sender ">
              <b>{% load tz %}{% timezone "Asia/Bishkek" %}AI Mamtil {{ chat.created_at|date:_("Y-m-d H:i:s") }}{% endtimezone %}</b>

            </div>
            <div class="message-content" id="responseId">
              {{chat.response}}
            </div>
          </div>
        </li>

          {% endif %}
        {% endfor %}
        
      </ul>


    </div>
    <div class="card-body btn-scroll col-sm-11 ">
            <div id="scroll-to-bottom" class="button-down"></div>
{#            <button >Scroll to Bottom</button>#}
        </div>
  <form class="message-form">
    {%csrf_token%}
    <div class="input-group">
      <input type="text" class="form-control message-input" autofocus="autofocus" placeholder="Бул жерге жазыңыз...">
      <div class="input-group-append">
        <button type="submit" class="btn btn-dark btn-send">Жөнөтүү</button>
      </div>
    </div>
  </form>
      <div id="alert" class="alert"></div>

  </div>

</div>


<script>
let history = ``
let i = 0
  const messagesList = document.querySelector('.messages-list');
  const messageForm = document.querySelector('.message-form');
  const messageInput = document.querySelector('.message-input');
  const scrollButtonDown = document.getElementById("scroll-to-bottom");
  const messagesListID = document.getElementById("messagesListID");
    const chatSocket = new WebSocket(
            'ws://' + window.location.host + '/ws/socket-server/'
        );
  function showAlert(message) {
        var alertElement = document.getElementById('alert');
        alertElement.innerHTML = message;
        alertElement.style.display = 'block';
    }

    function hideAlert() {
        var alertElement = document.getElementById('alert');
        alertElement.style.display = 'none';
    }
// Function to check if chat is at the bottom
function isChatAtBottom() {
    return messagesListID.scrollTop + messagesListID.clientHeight >= messagesListID.scrollHeight;
}

// Function to toggle the visibility of the scroll button
function toggleScrollButton() {
    if (isChatAtBottom()) {
        scrollButtonDown.style.display = 'none';
    } else {
        scrollButtonDown.style.display = 'block';
    }
}

// Function to scroll to the bottom
function scrollToBottom() {
    messagesListID.scrollTop = messagesListID.scrollHeight;
    setTimeout(function() {
        scrollButtonDown.style.display = 'none'; // Hide the button after a short delay
    }, 100); // Hide the button after scrolling to the bottom
}

function handleScroll() {
    if (messagesListID.scrollTop < messagesListID.scrollHeight / 2) {
        scrollButtonDown.style.display = 'block';
    } else {
        scrollButtonDown.style.display = 'none';
    }
}

function handleMouseWheelScroll(event) {
    if (event.deltaY < 0 && messagesListID.scrollTop > 0) {
        // User is scrolling up
        scrollButtonDown.style.display = 'block';
    } else if (event.deltaY > 0 && messagesListID.scrollTop < messagesListID.scrollHeight - messagesListID.clientHeight) {
        // User is scrolling down
        scrollButtonDown.style.display = 'none';
    }
}

// Attach scroll event listener to the chat container
messagesListID.addEventListener('scroll', function() {
    toggleScrollButton();
    handleScroll();
});

// Attach wheel event listener to the chat container
messagesListID.addEventListener('wheel', handleMouseWheelScroll);

// Attach click event to the scroll button
scrollButtonDown.addEventListener('click', scrollToBottom);


  messageForm.addEventListener('submit', (event) => {
    event.preventDefault();

    const message = messageInput.value.trim();
    if (message.length === 0) {
      return;
    }
    else if (message.length > 100){
        showAlert('Билдирүүнүн узундугу 100 символдон ашпашы керек');
            setTimeout(function () {
                hideAlert();
            }, 5000);
            return;
    }


    const messageItem = document.createElement('li');
    messageItem.classList.add('message', 'sent');
    const existingLoader = document.getElementById("loader");

        // Если элемент уже существует, удаляем его
        if (existingLoader) {
          existingLoader.remove();
        }
    const date = new Date();
    var current_date = date.getFullYear()+"-"+(String(date.getMonth()+1).padStart(2,"0"))+"-"+ (String(date.getDate()).padStart(2, '0'));
	var current_time = (String(date.getHours()).padStart(2, '0'))+":"+(String(date.getMinutes()).padStart(2, '0'))+":"+ (String(date.getSeconds()).padStart(2, '0'));
	const date_time = current_date+" "+current_time;
    {#let currentDay= String(date.getDate()).padStart(2, '0');#}
    {#let currentMonth = String(date.getMonth()+1).padStart(2,"0");#}
    {#let currentYear = date.getFullYear();#}
    //const currentDate = `${currentYear}-${currentMonth}-${currentDay}`;
    messageItem.innerHTML = `
        <div class="message-text">
            <div class="message-sender">
                <b>Сиз ${date_time}</b>
            </div>
            <div class="message-content">
                ${message}
            </div>
        </div>
        `;

    messagesList.appendChild(messageItem);
    const messageLoading = document.createElement("div");
        messageLoading.innerHTML = `<div class="spinner-block" id="loader">
      <div class="spinner spinner-1"></div>
    </div>`;
{#        messageLoading.innerHTML = `<div class="spinner-tringle" id="loader">#}
{#  <div class="blob top-tringle"></div>#}
{#  <div class="blob bottom-tringle"></div>#}
{#  <div class="blob left-tringle"></div>#}
{##}
{#  <div class="blob move-blob"></div>#}
{#</div>`;#}

        messagesList.appendChild(messageLoading);

        // Показать анимацию загрузки
        document.getElementById("loader").style.display = "block";
    const chatContainer = document.querySelector(".messages-list");
        chatContainer.scrollTop = chatContainer.scrollHeight;
    messageInput.value = '';
    fetch('/chatbot/', {
      method: 'POST',
      headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
      body: new URLSearchParams({
        'csrfmiddlewaretoken': document.querySelector('[name=csrfmiddlewaretoken]').value,
        'message': message,
      })
    })
      .then(response => response.json())
      .then(data => {
        const response = data.response;
        const message = data.message;
        const model = data.model;
        const time = data.time;
        if (model=='Claudia'){
                console.log(1111)

             //document.getElementById('responseId').innerHTML = '';
             //let message = document.getElementById('message_id').value;
             history += `\n\nHuman: `+ message + `\n\nAssistant: `;
             console.log(message)
                 if ('WebSocket' in window) {
              // create websocket connection
              let ws = new WebSocket('ws://80.72.180.130:3001/websocket');
              // push a message when the connection is successful, then the server can start pushing data
              ws.onopen = () => {
                  console.log('websocket success---');
                  // Отправка сообщения на сервер
                  ws.send(history);
                  const messageItem = document.createElement('li');
                  messageItem.classList.add('message', 'received');
                    i += 1
                  messageItem.innerHTML = `
                        <div class="message-text">
                            <div class="message-sender">
                              <b>AI Mamtil ${time}</b>
                            </div>
                            <div class="message-content" id="responseId${i}">
                            </div>
                        </div>
                          `;
                 messagesList.appendChild(messageItem);
              }
              ws.onmessage = (message) => {

                  let data = message.data;
                  //let div = document.getElementById('responseId');

                  let div = document.getElementById('responseId' + i);

                  div.innerHTML += data
                  history += data

              }
              ws.onerror = () => {
                  console.error('websocket fail');
              }
                 } else {
              console.error('dont support websocket');
                 };

        }
        else {//Mistral
            const messageItem = document.createElement('li');
            messageItem.classList.add('message', 'received');
            messageItem.innerHTML = `
        <div class="message-text">
            <div class="message-sender">
              <b>AI Mamtil ${time}</b>
            </div>
            <div class="message-content">
                ${response}
            </div>
        </div>
          `;
            messagesList.appendChild(messageItem);
        }
        document.getElementById("loader").style.display = "none";
        const chatContainer = document.querySelector(".messages-list");
        chatContainer.scrollTop = chatContainer.scrollHeight;
        setTimeout(function() {
        scrollButtonDown.style.display = 'none'; // Hide the button after a short delay
    }, 100); // Hide the button after scrolling to the bottom

      });
  });

</script>
{% endblock %}
